/*
Josh Hong
may 8, 2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, ol, aside, figure, figcaption, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop {
    display: none;
}

header {
    text-align: center;
    color: #f6eee4;
    font-family: 'Montserrat', sans-serif;
    background-color: #800000;
}

header a {
    text-decoration: none;
    color: #f6eee4;
}

header h1 {
    font-weight: bold;
    font-size: 5em;
}

header h2 {
    font-size: 20px;
    padding: 0 0 1% 0;
}

/* Style rules for navigation area */
nav {
    background-color: #800000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-family: 'Montserrat', sans-serif;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
    border-top: 0.5px solid #f6eee4;
    font-size: 20px;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

main h2 {
    font-size: 2em;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-bottom: 1%;
}

main ol {
    padding-left: 2%;
    font-size: 1.25em;
}

video {
    width: 60%;
}

#viterbiimg {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 10%;
}

#sigimage {
    margin-bottom: 20%;
}

#backgroundimage {
    background-image: url('images/Shield_RegUse_Card_RGB.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#rank, #signature {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#rank2, #signature2 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#info {
    clear: left;
    padding: 1% 2%;
    margin: 2% 20%;
    background-color: #dbdbdb;
}

main img {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bottom {
    margin-bottom: 10%;
}

.action {
    font-weight: bold;
    text-align: center;
    color: #800000;
}

.equation {
    font-size: 1.5em;
    color: #800000;
    text-align: center;
}

.link {
    color: #2a1f14;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.round {
    border-radius: 20px;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px #c5a687;
}

figure {
    border: 4px solid #2a1f14;
    box-shadow: 6px 6px 10px #c5a687;
    max-width: 400px;
    margin: 2% auto;
}

figcaption {
    padding: 2%;
    border-top: 4px solid #2a1f14;
}

#info ul {
    margin-left: 10%;
}

#contact, #form h3 {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* Style rules for form elements */
fieldset, input, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

#submit {
    margin: 0 auto;
    display: block;
    padding: 1% 2%;
    background-color: #800000;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #800000;
    color: #f6eee4;
    padding: 1% 0%;
    width: 100%;
    bottom: 0;
    height: 60px;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    .mobile {
        display: none;
    }
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
    }

    nav li a {
        border-top: none;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    aside {
        grid-column: 1 / span 2;
    }

    /* Tablet Viewport: Style rules for nav area */
    .center {
        width: 40%;
        margin-bottom: 10%;
    }

    /* Tablet Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }

    #hero {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20%;
    }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {

    body {
        background: linear-gradient(#f6eee4, #78593a);
    }

    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }

    main {
        background-color: #f6eee4;
        margin-bottom: 10%;
    }

    .grid {
        grid-template-columns: auto auto auto auto;
    }

    aside {
        grid-column: 1 / span 4;
        font-size: 3em;
    }

}

/* Media Query for Print */
@media print {
    
    body {
        background-color: #fff;
        color: #000;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

    /* Tablet Viewport: Show tab-desk class, hide mobile-tablet class */
    .mobile-tablet{
        display: none;
    }

    .desktop {
        display: block;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    nav li a {
        padding: 0.5em 1.5em;
    }
    nav li a:hover {
        color: #2a1f14;
        background-color: #f6eee4;
        opacity: 0.9;
    }
    
    /* Desktop Viewport: Style rules for main content */
    #info ul {
        margin-left: 5%;
    }

    main h3 {
        font-size: 1.5em;
    }

    #rank, #signature {
        width: 45%;
        float: left;
        margin: 0 2%;
        padding-bottom: 50px;
    }
    
    #rank2, #signature2 {
        width: 45%;
        float: left;
        margin: 0 2%;
        padding-bottom: 50px;
    }

    #genetable {
        width: 90%;
        margin: 0 0 210px 0;
    }

    #ranktable
    {
        padding: 3%;
    }

    .grid {
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }

    aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }

    /* Style rules for table */
    table {
        border: 1px solid #800000;
        border-collapse: collapse;
        margin: 0 auto;
        column-width: 100px;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #800000;
        padding: 1% 2%;
    }

    th {
        background-color: #800000;
        color: #fff;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #deccba;
    }

    /* Desktop Viewport: Style rules for form elements */
    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }

}
