export(as_gmt)
export(rank_corr)
export(WV)
export(drugSEA)
export(DMEA)
import(dplyr)
import(ggplot2)
importFrom(ggrepel, geom_text_repel)
importFrom(patchwork, plot_layout)
importFrom(aplot, xlim2)
importFrom(cowplot, theme_nothing)
importFrom(foreach, `%dopar%`)
importFrom(foreach, foreach)
importFrom(gridExtra, marrangeGrob)
importFrom(reshape2, melt)
importFrom(stats, cor.test)
importFrom(stats, lm)
importFrom(stats, na.omit)
importFrom(testthat, expect_is)
importFrom(tidyselect, all_of)
importFrom(qvalue, qvalue)